@import '../../../../App';

.searchForm {
  display: flex;
  align-items: center;
  padding-left: 30px;

  .searchInput {
    border: 0;
    color: $primary-text-color;
    font-size: 1.4rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-left: 10px;
    outline:none;

    &::placeholder {
      color: #b9bed1;
    }
  }
}

