@import '../../../../Standarts';

.radioButton {
  font-size: 1.3rem;
  font-family: Montserrat;
  color: $primary-text-color;
  display: flex;
  cursor: pointer;
  user-select: none;
  align-items: center;

  span {
    padding-left: 15px;
  }
  .hiddenInput {
    display: none;
  }

  .radioCircle {
    display: block;
    height: 18px;
    width: 18px;
    box-sizing: border-box;
    border: #e4e8f0 2px solid;
    border-radius: 50%;
    position: relative;
    flex-shrink: 0;
  }
}
.radioButton.active {
  .radioCircle {
    &:after {
      display: block;
      content: '';
      background-color: #00deea;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      position: absolute;
    }
  }
}