@import '../../../Standarts.scss';

.gallery {
  display: flex;
  width: 65%;
}
.galleryMainImages {
  width: 80%;
  padding-bottom: 400px;
  position: relative;
  list-style: none;

  .galleryItem {
    position: absolute;
    opacity: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    transition: opacity .5s;

    img {
      width: 100%;
      height: 400px;
      object-fit: contain;
      display: block;
    }
  }
  .galleryItem.active {
    opacity: 1;
  }
}
.galleryThumbnailImages {
  width: 20%;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;

  .galleryThumb {
    width: 50%;
    position: relative;
    box-sizing: border-box;
    padding: 35% 5px 0 0;
    margin-bottom: 5px;
    overflow: hidden;

    img {
      cursor: pointer;
      width: calc(100% - 5px);
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      height: auto;
      transition: opacity .3s;
      &:hover {
        opacity: .6;
      }
    }
  }
}

@media (max-width: 800px) {
  .gallery {
    width: 100%;
  }
}