@import '../../../../Standarts';

.checkboxButton {
  font-size: 1.3rem;
  font-family: Montserrat;
  color: $primary-text-color;
  display: flex;
  font-weight: 600;
  cursor: pointer;
  user-select: none;
  align-items: center;
  height: $refine-line-height;

  span {
    padding-left: 15px;
    text-transform: none;
  }
  .hiddenInput {
    display: none;
  }

  .checkIcon {
    display: block;
    height: 20px;
    width: 20px;
    box-sizing: border-box;
    border: #e4e8f0 2px solid;
    border-radius: 20%;
    position: relative;
    flex-shrink: 0;
  }
}
.checkboxButton.active {
  .checkIcon {
    border: 0;
    background-color: #00e2aa;

    &:after {
      display: block;
      content: '\2714';
      color: #fff;
      border-radius: 50%;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      position: absolute;
    }
  }
}