@import '../../../Standarts.scss';

.profileBlock {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1rem;
  color: $primary-text-color;
  font-weight: 600;
  justify-self: center;
  position: relative;

  .profileButton {
    user-select: none;
    cursor: pointer;
    padding: 0px 17px 0px 17px;
    border-radius: 17px;
    border: 2px #e3e8f0 solid;
    transition: background-color .5s, border .5s, color .5s;
    line-height: 2.8rem;
    display: block;
    text-decoration: none;
    color: $primary-text-color;
    text-transform: uppercase;
    background-color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
    font-weight: 600;
    outline: none;
  }
  .profileButton.activeForm {
    background-color: $primary-text-color;
    color: #fff;
    border: 2px $primary-text-color solid;
  }
}