@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,500,600,600i,700,700i,800,800i,900,900i&display=swap&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Crimson+Text:400,400i&display=swap');

$primary-text-color: #343e5c;
$page-width: 1170px;
$min-page-width: 500px;
$border-radius: 4px;
$refine-line-height: 4.2rem;
$refine-padding-left: 18px;

* {
  margin: 0;
  padding: 0;
}