@import '../../../Standarts';


.preloaderContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(256, 256, 256, 0.7);
  flex-grow: 1;
}
.preloaderContainer.fill {
  background-color: #fff;
}