@import '../../../Standarts';

.radioButtons {
  display: flex;
  flex-direction: column;
  padding: 10px $refine-padding-left;

  &>label {
    height: $refine-line-height;
    font-weight: 600;
  }
}