@import '../../../Standarts.scss';

.recommendedProducts {
  width: 35%;

  .productList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
    grid-gap: 10px;
    grid-auto-rows: 280px;
  }

  .title {
    display: inline-block;
    font-size: 1.6rem;
    font-weight: 500;
    padding-bottom: 10px;
    font-family: Montserrat;
    color: $primary-text-color;
    border-bottom: 3px solid $primary-text-color;
    box-sizing: border-box;
  }
}

@media (max-width: 800px) {
  .recommendedProducts {
    width: 100%;
  }
}