@import '../../Standarts.scss';

.CategoryComponent {
  background-color: #e4e5e7;
  padding-bottom: 50px;
}
.productsGrid {
  padding: 50px 20px 0 20px;
  max-width: $page-width;
  margin: 0 auto;
  display: grid;
  grid-template-columns: minmax(200px, 270px) 3fr;
  grid-column-gap: 30px;
}