@import '../../../Standarts.scss';

.signInButton {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1rem;
  color: $primary-text-color;
  font-weight: 600;
  line-height: 28px;
  height: 28px;
  padding: 0px 17px 0px 17px;
  border: 2px #e3e8f0 solid;
  justify-self: center;
  border-radius: 17px;
  cursor: pointer;
}